// images 
$header-bg-desktop: url(../images/desktop/image-header.jpg);
$header-bg-mobile: url(../images/mobile/image-header.jpg);

$transform-mobile: url(../images/mobile/image-transform.jpg);
$transform-desktop: url(../images/desktop/image-transform.jpg);

$stand-out-mobile: url(../images/mobile/image-stand-out.jpg);
$stand-out-desktop: url(../images/desktop/image-stand-out.jpg);

$photography-mobile: url(../images/mobile/image-photography.jpg);
$photography-desktop: url(../images/desktop/image-photography.jpg);

$graphic-design-mobile: url(../images/mobile/image-graphic-design.jpg);
$graphic-design-desktop: url(../images/desktop/image-graphic-design.jpg);

// gallery images
$cone-mobile: url(../images/mobile/image-gallery-cone.jpg);
$cone-desktop: url(../images/desktop/image-gallery-cone.jpg);
$milk-mobile: url(../images/mobile/image-gallery-milkbottles.jpg);
$milk-desktop: url(../images/desktop/image-gallery-milkbottles.jpg);
$orange-mobile: url(../images/mobile/image-gallery-orange.jpg);
$orange-desktop: url(../images/desktop/image-gallery-orange.jpg);
$sugar-mobile: url(../images/mobile/image-gallery-sugar-cubes.jpg);
$sugar-desktop: url(../images/desktop/image-gallery-sugarcubes.jpg); 

// social icons
$fb: url(../images/icon-facebook.svg);
$instagram: url(../images/icon-instagram.svg); 
$twitter: url(../images/icon-twitter.svg);
$pinterest: url(../images/icon-pinterest.svg);


$fb-white: url(../images/fb-white.svg);
$instagram-white: url(../images/instagram-white.svg); 
$twitter-white: url(../images/twitter-white.svg);
$pinterest-white: url(../images/pinterest-white.svg);
 